@import url("https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.12/latin.css");

body {
    font-family: "Inter", sans-serif;
    background: #F7F7F7;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

p {
    padding: 0.5rem 0 1rem 0;
    margin: 0;
}

a {
    color: #666666;
}

main {
    padding: 30px;
    max-width: 1200px;
    margin:0 auto;
}